battleship-logic/.idea/
battleship-logic/battleship-logic.iml
battleship-logic/target/
log4j.properties
battleship-view/battleship-view.iml
battleship-service/battleship-service.iml
battleship-service/target/
