<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>QUnit Example</title>
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.0.1.css">
</head>

<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/view/test/qunit.js"></script>
    <script src="/view/test/jquery.mockjax.js"></script>
    <script src="/view/js/registration.js"></script>
    <script src="/view/js/board.js"></script>
    <script src="/view/js/placingShips.js"></script>
    <script src="/view/js/game.js"></script>
    <script src="/view/test/tests.js"></script>
</body>

</html>