<div class="container">
    <h2>Battleship game</h2>
    <div class="row">
        <div class="main col-lg-12 ">
            <div class="col-lg-6">
                <h3>Your game</h3>
                <table id="id_opponentBoard" class="player-board">
                    <thead>
                        <tr id="id_lettersLabel"> </tr>
                    </thead>
                    <tbody id="id_tableBody"> </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <h3>Opponent game</h3>
                <table id="id_myBoard" class="player-board">
                    <thead>
                        <tr id="id_lettersLabel"> </tr>
                    </thead>
                    <tbody id="id_tableBody"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>