<div class="main col-lg-4 " />
<div class="main col-lg-4 ">
    <form class="main col-lg-4 " id="form" onsubmit="return false;">
        <label for="name_id">First name:</label>
        <input type="text" name="name" id="name_id" />
        <br />
        <label for="surname_id">Last name:</label>
        <input type="text" name="surname" id="surname_id" />
        <br /><br />
        <button onclick="sendRegisterRequest()" class="btn btn-primary btn-lg" id="button_id">Send</button>
    </form>
</div>
<div class="main col-lg-4 " />