<!DOCTYPE html>
<html lang="en">

<head>
    <title>Battle Ship</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="view/css/style.css">
    <link href="view/css/footer.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="view/js/gameMode.js"></script>
    <script src="view/js/registration.js"></script>
    <script src="view/js/board.js"></script>
    <script src="view/js/placingShips.js"></script>
    <script src="view/js/game.js"></script>
    <script src="view/js/restartGame.js"></script>
</head>

<body style="background-color: #EEEEEE;">
    <div class="container">
        <h2 id="heading">Battleship game</h2>
        <p class="text-right"><strong id="playerName_id"></strong></p>
        <p class="text-right"><strong>Number of avaiable shots: </strong><strong id="numberOfShots_id">0</strong></p>
        
        <div class="row">
            <div class="main col-lg-12 " id="content_id">
                <div class="main col-lg-5 "> </div>
                <div class="main col-lg-2 ">
                    <div style="vertical-align:middle;">
                        <button class="btn btn-primary btn-lg" onclick="goToRegister()" style="vertical-align:middle;">PLAY</button>
                    </div>
                </div>
                <div class="main col-lg-5 "> </div>
            </div>
        </div>
        <div id="modals_id"> </div>
    </div>
    <footer class="footer">
        <div class="container text-center">
            <p class="text-muted">&copy; 2016 dream-team</p>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            $.get('html/modals', function (data) {
                $('#modals_id').append(data);
            });
        });
    </script>
</body>

</html>